#header{
  background: #fff;
  box-shadow: 0 2px 8px #f0f1f2;
  position: relative;
  z-index: 10;
  max-width: 100%;
}
#logo{
  overflow: hidden;
  padding-left: 40px;
  float: left;
  height: 64px;
  line-height: 64px;
  text-decoration: none;
  white-space: nowrap;
  img{
    height: 32px;
    margin-right: 16px;
  }
  img+img {
    height: 16px;
    position: relative;
    top: 1px;
  }
}
#menu{
  float:left;
  border-bottom:none;
  li{
    height:64px;
    line-height:64px;
  }
}
#search-box {
  float: left;
  height: 22px;
  line-height: 22px;
  padding-left: 16px;
  margin: 22px auto 0;
}
.algolia-search{
  position:relative;
  display: inline-block;
  input{
    font-size: 14px;
    margin-top: -5px;
    width: 200px;
    border: 0;
    box-shadow: none;
    background: 0 0;
  }
}
.main-wrapper {
  background: #fff;
  padding: 40px 0 0;
  position: relative;
}
#footer {
  clear: both;
  font-size: 14px;
  background-color: #000;
  position: relative;
  z-index: 100;
  color: rgba(255,255,255,.65);
  box-shadow: 0 1000px 0 1000px #fff;
}
