<nz-layout>
  <nz-header id="header">
    <div nz-row class="ant-row">
      <div nz-col="" class="ant-col-xs-24 ant-col-sm-24 ant-col-md-8 ant-col-lg-5 ant-col-xl-5 ant-col-xxl-4">
        <a href="" id="logo">
          <img alt="logo" src="./assets/image/logo.svg">
          <img alt="NG-ZORRO" src="./assets/image/zorro.svg">
        </a>
      </div>
      <nz-divider [nzType]="'vertical'" style="position:relative;top:26px;float:left;"></nz-divider>
      <ul nz-menu [nzMode]="'horizontal'" id="menu">
        <li nz-menu-item>公司新闻</li>
        <li nz-menu-item>行业新闻</li>
        <li nz-menu-item>关于我们</li>
      </ul>
      <div id="search-box">
        <i nz-icon type="search"></i>
        <span class="algolia-search algolia-autocomplete algolia-autocomplete-left">
          <input nz-input #search placeholder="搜索" [(ngModel)]="searchKey" (input)="onInput($event.target?.value)">
          <span #popupOp class="ds-dropdown-menu" *ngIf="showSearchBox" style="position: absolute;top: 100%;z-index: 100;left: 0px;right: auto;">
            <div class="ds-dataset-1">
              <div class="algolia-docsearch-suggestion" *ngIf="isSearchLoading">
                <div class="algolia-docsearch-suggestion--content algolia-docsearch-suggestion--no-results">
                  <div class="algolia-docsearch-suggestion--title">
                    <div class="algolia-docsearch-suggestion--text">
                      <i nz-icon type="loading"></i>
                    </div>
                  </div>
                </div>
              </div>
              <span class="ds-suggestions">
                <div class="ds-suggestion" *ngFor="let option of options">
                  <a class="algolia-docsearch-suggestion algolia-docsearch-suggestion__main algolia-docsearch-suggestion__secondary">
                    <div class="algolia-docsearch-suggestion--category-header">
                      <span class="algolia-docsearch-suggestion--category-header-lvl0">Components</span>
                    </div>
                    <div class="algolia-docsearch-suggestion--wrapper">
                      <div class="algolia-docsearch-suggestion--subcategory-column">
                        <span class="algolia-docsearch-suggestion--subcategory-column-text">
                          <span class="algolia-docsearch-suggestion--highlight">I</span>
                          nputNumber 数字输入框
                        </span>
                      </div>
                      <div class="algolia-docsearch-suggestion--content">
                        <div class="algolia-docsearch-suggestion--subcategory-inline">
                          <span class="algolia-docsearch-suggestion--highlight">I</span>
                          nputNumber 数字输入框
                        </div>
                        <div class="algolia-docsearch-suggestion--title">
                          <span class="algolia-docsearch-suggestion--highlight">I</span>
                          <span [innerHtml]="option.title"></span>
                          <span [innerHtml]="option.content"></span>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </span>
              <div *ngIf="options.length===0" class="algolia-docsearch-suggestion">
                <div class="algolia-docsearch-suggestion--wrapper">
                  <div class="algolia-docsearch-suggestion--content algolia-docsearch-suggestion--no-results">
                    <div class="algolia-docsearch-suggestion--title">
                      <div class="algolia-docsearch-suggestion--text">
                          关键字 <b>"{{searchKey}}"</b>，没有搜索结果
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </span>
        </span>
      </div>
    </div>
  </nz-header>
  <nz-content class="main-wrapper">
    <div id="banner">
      <nz-carousel nzAutoPlay>
        <div nz-carousel-content *ngFor="let index of array"><h3>{{index}}</h3></div>
      </nz-carousel>
    </div>
    <a href="http://127.0.0.1:4200/admin" target="_blank">内容管理后台</a>
  </nz-content>
  <nz-footer id="footer">

  </nz-footer>
</nz-layout>
