#banner{
  width:1152px;
  margin:auto;
}
[nz-carousel-content] {
  text-align: center;
  height: 444px;
  line-height: 444px;
  background: #364d79;
  color: #fff;
  overflow: hidden;
  margin:auto;
}
