<nz-table #articleListTable
          [nzData]="articles"
          [nzSize]="'middle'"
          [nzTitle]="headerTemplate"
          [nzBordered]="true"
          [nzLoading]="isLoading"
          [nzHideOnSinglePage]="true"
          [nzScroll]="{x:'1200px'}"
>
  <thead>
  <tr>
    <th nzWidth="50px" nzLeft="0px" [nzShowCheckbox]="'true'" [nzChecked]="isAllChecked()" (nzCheckedChange)="allCheck($event)"></th>
    <th nzWidth="200px">
      标题
    </th>
    <th nzCustomFilter>
      类别
    </th>
    <th nzWidth="200px">发布时间</th>
    <th nzWidth="50px">排序</th>
    <th nzWidth="200px" nzRight="100px">属性</th>
    <th nzWidth="100px" nzRight="0px">操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let article of articleListTable.data">
    <td nzWidth="50px" nzLeft="0px" [nzShowCheckbox]="'true'" [(nzChecked)]="article.checked"></td>
    <td nzWidth="200px">
      {{article.title}}
    </td>
    <td>
      {{getAllCategory(article.categoryId)}}
    </td>
    <td nzWidth="200px">
      {{article.publishAt|date:'MM月dd日 HH:mm:ss'}}
    </td>
    <td nzWidth="100px">
      <nz-input-number [nzStep]="1" [ngModel]="article.sort"></nz-input-number>
    </td>
    <td nzWidth="200px" nzRight="100px">
      <nz-tag nzMode="checkable" [nzChecked]="article.isComment" (nzCheckedChange)="tagChanged($event)" title="允许评论">
        <i nz-icon type="message" theme="outline"></i>
      </nz-tag>
      <nz-tag nzMode="checkable" [nzChecked]="article.isTop" (nzCheckedChange)="tagChanged($event)">
        <i nz-icon type="to-top" theme="outline"></i>
      </nz-tag>
      <nz-tag nzMode="checkable" [nzChecked]="article.isRed" (nzCheckedChange)="tagChanged($event)">
        <i nz-icon type="like" theme="outline"></i>
      </nz-tag>
      <nz-tag nzMode="checkable" [nzChecked]="article.isHot" (nzCheckedChange)="tagChanged($event)">
        <i nz-icon type="fire" theme="outline"></i>
      </nz-tag>
      <nz-tag nzMode="checkable" [nzChecked]="article.isSlide" (nzCheckedChange)="tagChanged($event)">
        <i nz-icon type="picture" theme="outline"></i>
      </nz-tag>
    </td>
    <td nzWidth="100px" nzRight="0px">
      <a *ngIf="showEditBtn" (click)="edit(article.id)">
        编辑
      </a>
      <a *ngIf="!showEditBtn" (click)="edit(article.id)">
        查看
      </a>
      <a>复制</a>
    </td>
  </tr>
  </tbody>
</nz-table>
<ng-template #headerTemplate>
  <nz-button-group>
    <button nz-button [nzType]="'primary'" *ngIf="showAddBtn" (click)="add(0)">
      <i nz-icon type="plus-circle" theme="outline"></i>
      新增
    </button>
    <button nz-button [nzType]="'primary'" *ngIf="showAuditingBtn" (click)="auditing(article.id)">
      <i nz-icon type="audit" theme="outline"></i>
      审核
    </button>
    <button nz-button [nzType]="'danger'" *ngIf="showDelBtn" nz-popconfirm nzTitle="确定要删除选中的角色吗?" nzPlacement="bottomRight" (nzOnConfirm)="delete()">
      <i nz-icon type="delete" theme="outline"></i>删除
    </button>
    <button nz-button (click)="refresh()" [title]="'刷新'" >
      <i nz-icon type="reload" theme="outline"></i>刷新
    </button>
  </nz-button-group>

  <label style="margin-left: 24px;">
    当前频道：
    <nz-select style="width: 120px;" [(ngModel)]="channelSelected" nzAllowClear="false" (ngModelChange)="channelSelectChanged($event)">
      <nz-option *ngFor="let channel of channels" [nzValue]="channel.id" [nzLabel]="channel.name"></nz-option>
    </nz-select>
    <span nz-tooltip *ngIf="!channelList" style="color:red;cursor: pointer;" (click)="channelListRefresh()" nzTitle="{{channelListError}}点击重新加载" >
        <i nz-icon type="question-circle" theme="outline" *ngIf="!isChannelLoading" class="anticon anticon-question-circle-o"></i>
        <i nz-icon type="loading" theme="outline" *ngIf="isChannelLoading"></i>
      </span>
  </label>

  <label style="margin-left: 24px;">
    <nz-select style="width:120px;" [(ngModel)]="categorySelected" nzAllowClear="false" (ngModelChange)="categorySelectChanged($event)">
      <nz-option nzCustomContent *ngFor="let category of categories" [nzValue]="category.id" [nzLabel]="category.name">
        <span style="margin-right: 16px;" *ngFor="let space of category.level|numberArray"></span>
        <i nz-icon type="folder-open" *ngIf="category.level < 1" theme="outline"></i>
        <i nz-icon type="file" *ngIf="category.level > 0" theme="outline"></i>
        {{category.name}}
      </nz-option>
    </nz-select>
    <span nz-tooltip *ngIf="!categoryList" style="color:red;cursor: pointer;" (click)="initCategoryList(channelSelected)" nzTitle="{{categoryListError}}点击重新加载" >
        <i nz-icon type="question-circle" theme="outline" *ngIf="!isCategoryLoading" class="anticon anticon-question-circle-o"></i>
        <i nz-icon type="loading" theme="outline" *ngIf="isCategoryLoading"></i>
      </span>
  </label>
</ng-template>
