<nz-table #roleListTable
          [nzData]="users"
          [nzTitle]="headerTemplate"
          [nzLoading]="isLoading"
          [nzSize]="'middle'"
          [nzBordered]="true"
          [nzFrontPagination]="'false'"
          [nzShowTotal]="rangeTemplate"
          [nzTotal]="total"
          [nzPageIndex]="pageIndex"
          [nzPageSize]="pageSize"
          [nzNoResult]="noResult"
          [nzScroll]="scrollHeight"
          (nzPageIndexChange)="pageChanged($event)"
>
  <thead>
  <tr>
    <th width="10%" [nzShowCheckbox]="'true'" [nzChecked]="isAllChecked()" (nzCheckedChange)="allCheck($event)"></th>
    <th width="30%">
      <ng-container i18n="@@my-locale-mobile">mobile</ng-container>
    </th>
    <th width="20%" nzCustomFilter>
      <ng-container i18n="@@my-locale-nickname">nickname</ng-container>
      <nz-dropdown nzTrigger="click" [nzClickHide]="false">
        <i nz-icon type="filter" [ngStyle]="nameFilterStyle" class="ant-table-filter-icon" theme="outline" nz-dropdown></i>
        <div class="custom-filter-dropdown">
          <ul nz-menu>
            <li nz-menu-item>
              <input type="text" style="width: 150px;margin-right: 8px;" nz-input placeholder="keyword" i18n-placeholder="@@my-locale-keyword" [(ngModel)]="searchkey">
            </li>
          </ul>
          <div class="ant-table-filter-dropdown-btns">
            <a class="ant-table-filter-dropdown-link confirm" (click)="refresh()" >
              <span i18n="@@my-locale-search">search</span>
            </a>
            <a class="ant-table-filter-dropdown-link clear" (click)="refreshNoSearchKey()" >
              <span i18n="@@my-locale-reset">reset</span>
            </a>
          </div>
        </div>
      </nz-dropdown>
    </th>
    <th width="30%" nzCustomFilter>
      <ng-container i18n="@@my-locale-role-name">roleName</ng-container>
      <nz-dropdown *ngIf="roleList" nzTrigger="click" [nzClickHide]="false">
        <i nz-icon type="filter" theme="outline" [ngStyle]="roleFilterStyle" class="ant-table-filter-icon" nz-dropdown></i>
        <div class="custom-filter-dropdown">
          <ul nz-menu>
            <li nz-menu-item>
              <label nz-checkbox [ngModel]="roleFilterAllStatus()" (ngModelChange)="roleFilterAllChanged($event)"></label>
            </li>
            <li nz-menu-item *ngFor="let role of roles">
              <label nz-checkbox [(ngModel)]="role.checked">{{role.name}}</label>
            </li>
          </ul>
          <div class="ant-table-filter-dropdown-btns">
            <a class="ant-table-filter-dropdown-link confirm" (click)="filterByRole()" >
              <span i18n="@@my-locale-search">search</span>
            </a>
            <a class="ant-table-filter-dropdown-link clear" (click)="filterRemoveRole()" >
              <span i18n="@@my-locale-reset">reset</span>
            </a>
          </div>
        </div>
      </nz-dropdown>
      <span nz-tooltip *ngIf="!roleList" style="cursor: pointer;" (click)="initRoleList()" nzTitle="{{roleListError}}roleReloadData" >
        <i nz-icon type="question-circle" theme="outline" style="color:red;" *ngIf="!isLoadingRoleList" class="anticon anticon-question-circle-o"></i>
        <i nz-icon type="loading" theme="outline" style="color:#1890ff" *ngIf="isLoadingRoleList"></i>
      </span>
    </th>
    <th width="10%">
      <ng-container i18n="@@my-locale-action">action</ng-container>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of roleListTable.data">
    <td width="10%" [nzShowCheckbox]="'true'" [(nzChecked)]="data.checked"></td>
    <td width="30%">{{data.mobile}}</td>
    <td width="20%">{{data.realname}}</td>
    <td width="30%">{{data.role?.name}}</td>
    <td width="10%">
      <a *ngIf="showEditBtn" nzType="primary" (click)="edit(data.id)">
        <ng-container i18n="@@my-locale-edit">edit</ng-container>
      </a>
      <a *ngIf="!showEditBtn" nzType="primary" (click)="edit(data.id)">
        <ng-container i18n="@@my-locale-view">view</ng-container>
      </a>
    </td>
  </tr>
  </tbody>
</nz-table>
<ng-template #headerTemplate>
  <nz-button-group>
    <button nz-button [nzType]="'primary'" *ngIf="showAddBtn" (click)="add()">
      <i nz-icon type="plus-circle" theme="outline"></i>
      <ng-container i18n="@@my-locale-new">new</ng-container>
    </button>
    <button nz-button [nzType]="'danger'" *ngIf="showAddBtn" (click)="delete()">
      <i nz-icon type="delete" theme="outline"></i>
      <ng-container i18n="@@my-locale-delete">delete</ng-container>
    </button>
    <button nz-button (click)="refresh()" title="refresh" i18n-title="@@my-locale-refresh" >
      <i nz-icon type="reload" theme="outline"></i>
      <ng-container i18n="@@my-locale-refresh">refresh</ng-container>
    </button>
  </nz-button-group>
</ng-template>
<ng-template #rangeTemplate let-range="range" let-total>
  <ng-container i18n="@@my-locale-pagination">{{range[0]}}{{range[1]}}page {{total}}</ng-container>
</ng-template>


