<nz-layout>
  <nz-content>
    <nz-card [ngStyle]="formHeight">
      <form nz-form [formGroup]="validateForm" class="role-add-form" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-label [nzRequired]="true" class="ant-col-6">
            <ng-container i18n="@@my-locale-mobile">mobile</ng-container>
          </nz-form-label>
          <nz-form-control class="ant-col-16">
            <input type="text" nz-input formControlName="mobile">
            <nz-form-explain *ngIf="validateForm.get('mobile').dirty && validateForm.get('mobile').errors?.required" i18n="@@my-locale-name-required">nameRequired</nz-form-explain>
            <nz-form-explain *ngIf="validateForm.get('mobile').dirty && validateForm.get('mobile').errors?.errorPhone" i18n="@@my-locale-error-mobile">errorMobile</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label class="ant-col-6">
            <ng-container i18n="@@my-locale-nickname">nickname</ng-container>
          </nz-form-label>
          <nz-form-control class="ant-col-16">
            <input type="text" nz-input formControlName="realname">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzRequired]="true" class="ant-col-6">
            <ng-container i18n="@@my-locale-is-administrator">isAdministrator</ng-container>
          </nz-form-label>
          <nz-form-control class="ant-col-16">
            <nz-switch formControlName="isAdmin"></nz-switch>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzRequired]="true" class="ant-col-6">
            <ng-container i18n="@@my-locale-password-default">passwordDefault</ng-container>
          </nz-form-label>
          <nz-form-control class="ant-col-16">
            <input type="password" nz-input formControlName="password">
            <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors" i18n="@@my-locale-password-required">passwordRequired</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label class="ant-col-6">
            <ng-container i18n="@@my-locale-age">age</ng-container>
          </nz-form-label>
          <nz-form-control class="ant-col-16">
            <nz-input-number  formControlName="age" [nzMin]="1" [nzMax]="100" [nzStep]="1"></nz-input-number>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzRequired]="true" class="ant-col-6">
            <ng-container i18n="@@my-locale-role">role</ng-container>
          </nz-form-label>
          <nz-form-control class="{{roleList?'ant-col-16':'ant-col-16 haserror'}}">
            <nz-select formControlName="roleId">
              <nz-option [nzValue]="role.id" [nzLabel]="role.name" *ngFor="let role of roles"></nz-option>
            </nz-select>
            <span *ngIf="!roleList" nz-tooltip style="color:red;cursor: pointer;" (click)="initRoleList()" nzTitle="{{roleListError}}roleReloadData" i18n-nzTitle="@@my-locale-role-reload-data" >
          <i nz-icon type="question-circle" theme="outline" *ngIf="!isLoadingRoleList"></i>
          <i nz-icon type="loading" theme="outline" *ngIf="isLoadingRoleList"></i>
        </span>
            <nz-form-explain *ngIf="validateForm.get('roleId').dirty && validateForm.get('roleId').errors" i18n="@@my-locale-role-required">roleRequired</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label class="ant-col-6">
            <ng-container i18n="@@my-locale-head">head</ng-container>
          </nz-form-label>
          <nz-form-control class="ant-col-16">
            <div nz-row>
              <nz-avatar [nzSrc]="user.avatar ? (serverPath + user.avatar) : ''" style="width: 64px;height:64px;font-size: 48px;line-height: 48px;" [nzIcon]="'user'">

              </nz-avatar>
              <nz-tabset [nzSelectedIndex]="avaTabSelectedIndex">
                <nz-tab nzTitle="upload" i18n-nzTitle="@@my-locale-upload">
                  <div>
                    <nz-upload
                      [nzAction]="uploadPath"
                      [nzShowUploadList]="false"
                      [nzBeforeUpload]="beforeUpload"
                      (nzChange)="handleChange($event)"
                      [nzCustomRequest]="customReq"
                    >
                      <button nz-button>
                        <i nz-icon type="upload" theme="outline"></i>
                        <span i18n="@@my-locale-click-upload">clickUpload</span>
                      </button>
                    </nz-upload>
                  </div>
                </nz-tab>
                <nz-tab [nzTitle]="ava.name" *ngFor="let ava of avatars">
                  <div nz-row>
                    <div nz-col  [nzXs]="12" [nzSm]="6" [nzLg]="3" [nzMd]="6" style="margin:8px 0px" *ngFor="let path of ava.imgs">
                      <nz-avatar style="cursor: pointer;" [nzSrc]="serverPath + path" [nzSize]="'large'" (click)="setSysAvatar(path)"></nz-avatar>
                    </div>
                  </div>
                </nz-tab>

              </nz-tabset>`
            </div>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-card>

  </nz-content>
  <nz-footer class="fixed-footer">
    <button nz-button *ngIf="saveBtn" [nzType]="'primary'" [nzLoading]="isLoading" (click)="submitForm()">
      <i nz-icon type="save" theme="outline"></i>
      <ng-container i18n="@@my-locale-save">save</ng-container>
    </button>
    <button nz-button type="button" (click)="returnToList($event)">
      <ng-container i18n="@@my-locale-go-back">goBack</ng-container>
    </button>
  </nz-footer>
</nz-layout>
