.logo{
  width: 120px;
  height: 31px;
  background: rgba(255,255,255,.2);
  margin: 16px 28px 16px 0;
  float: left;
}
::ng-deep .ant-layout-sider-collapsed{
  .ant-menu-submenu{
    .ant-menu-submenu-title{
      left: 0;
      text-overflow: clip;
      padding: 0 32px!important;
      .anticon{
        font-size: 16px;
        line-height: 40px;
        margin: 0;
      }
      .anticon+span{
        display: none;
      }
      .ant-menu-submenu-arrow{
        display: none;
      }
    }
  }
}

::ng-deep .noarrow+i{
  display: none;
}

.trigger{
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
  color:#f0f2f5;
}

.avatar-area{
  float:right;
  height:100%;
  .username{
    color:#f0f2f5;
    margin-left: 8px;
  }
  .anticon{
    color:#f0f2f5;
    margin-left: 8px;
  }
}
.header-lang-button{
  float: right;
  margin-top: 20px;
  margin-left: 16px;
}
::ng-deep .fixed-footer{
  position: fixed;
  padding:16px;
  width:100%;
  bottom:0px;
}

:host ::ng-deep .ant-avatar .anticon-user {
  font-size:18px !important;
}

::ng-deep .ant-breadcrumb nz-breadcrumb-item{
  a[disabled]{
    color: rgba(0,0,0,.45);
    transition: color .3s;
    font-weight: bolder;
  }
}
