<nz-layout style="height:100%">
  <nz-header style="padding-right:8px;">
    <div class="logo">

    </div>
    <i nz-icon type="menu-unfold" theme="outline" class="trigger" *ngIf="collapsed" (click)="toggleCollapse()"></i>
    <i nz-icon type="menu-fold" theme="outline" class="trigger" *ngIf="!collapsed" (click)="toggleCollapse()"></i>
    <div class="avatar-area">
      <nz-dropdown>
        <a nz-dropdown nz-row nzType="flex" nzAlign="middle">
          <nz-avatar nz-col nzIcon="user"
                     [nzSrc]="getAvatarImageUrl(user)"
          ></nz-avatar>
          <span nz-col class="username">
            {{(user?.role?.name) ? (user?.role?.name + '：') : ''}}
            {{user?.realname ? user?.realname : user?.mobile }}
          </span>
          <i nz-col nz-icon type="down" theme="outline"></i>
        </a>
        <ul nz-menu nzSelectable>
          <li nz-menu-item>
            <a>
              <i nz-icon type="setting" theme="outline"></i>
              设置
            </a>
          </li>
          <li nz-menu-item>
            <a nz-popconfirm nzTitle="确定要退出当前用户吗?" nzPlacement="bottomRight" (nzOnConfirm)="confirmExit()">
              <i nz-icon type="logout" theme="outline"></i>
              切换用户
            </a>
          </li>
        </ul>
      </nz-dropdown>
    </div>
  </nz-header>
  <nz-layout>
    <nz-sider [nzCollapsed]="collapsed">
      <div style="height:100%;padding-top: .1px;margin-top: -.1px;">
        <div nz-menu nzTheme="dark" [nzInlineCollapsed]="collapsed" nzMode="inline">
          <li nz-submenu *ngFor="let route of routesMenuUse" [nzOpen]="checkOpen(route.path)" (click)="clickSubMenuTitle(route.path)" >
            <span title class="{{route.children && route.children.length>0 ? '' : 'noarrow'}}">
              <i nz-icon type="{{route.data.icon}}" theme="outline"></i>
              <span>{{route.data.name ? route.data.name : 'home'}}</span>
            </span>
            <ul>
              <li nz-menu-item *ngFor="let child of route.children" [nzSelected]="checkSelected(route.path+'/'+child?.path)">
                <a routerLink="{{route.path+'/'+child?.path}}" (click)="clickStop($event)">{{child?.data?.name}}</a>
              </li>
            </ul>
          </li>
        </div>
      </div>
    </nz-sider>
    <nz-layout>
      <nz-content style="margin:0 16px;">
        <nz-breadcrumb style="padding:16px 0px;position: fixed;background-color: #f0f2f5;width: 100%;z-index: 999;">
          <button nz-button (click)="back()" style="margin-right: 16px" >
            <i nz-icon type="rollback" theme="outline"></i>
            返回
          </button>
          <nz-breadcrumb-item *ngFor="let bread of breadcrumb;index as i" letIndex>
            <i nz-icon type="home" theme="outline" style="margin-right: 4px;" *ngIf="i===0"></i>
            <a routerLink="{{bread.path}}" *ngIf="!bread.disabled" >{{bread.name}}</a>
            <a routerLink="{{bread.path}}" disabled  *ngIf="bread.disabled">{{bread.name}}</a>
          </nz-breadcrumb-item>
        </nz-breadcrumb>
        <div [ngStyle]="contentStyle">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
