<nz-table #roleListTable [nzData]="roles"
          [nzTitle]="headerTemplate"
          [nzLoading]="isLoading"
          [nzSize]="'small'"
          [nzBordered]="true"
          [nzScroll]="tableHeight"
          [nzFrontPagination]="'false'"
          [nzTotal]="total"
          [nzPageIndex]="pageIndex"
          [nzPageSize]="pageSize"
          (nzPageIndexChange)="pagechanged"
>
  <thead>
  <tr>
    <th width="80%">
      名称
      <nz-dropdown nzTrigger="click" [nzClickHide]="false">
        <i class="anticon anticon-filter ant-table-filter-icon" nz-dropdown></i>
        <div class="custom-filter-dropdown">
          <input type="text" style="width: 150px;margin-right: 8px;" nz-input placeholder="关键字" [(ngModel)]="searchkey">
          <button nz-button [nzType]="'primary'" (click)="refresh()">查询</button>
        </div>
      </nz-dropdown>
    </th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of roleListTable.data">
    <td width="80%">{{data.name}}</td>
    <td>
      <button nz-button nzType="primary">
        <i class="anticon anticon-edit"></i>
      </button>
      <button nz-button nzType="danger">
        <i class="anticon anticon-delete"></i>
      </button>
    </td>
  </tr>
  </tbody>
</nz-table>
<ng-template #headerTemplate>
  <button nz-button (click)="add()" [nzType]="'primary'">
    <i class="anticon anticon-file-add"></i>
    新增
  </button>
  <button nz-button (click)="refresh()" style="float:right;" >
    <i class="anticon anticon-reload"></i>
  </button>
</ng-template>

