button{
  margin-right: 8px;
}

.custom-filter-dropdown {
  padding: 8px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
  .ant-dropdown-menu{
    border: 0;
    box-shadow: none;
    border-radius: 4px 4px 0 0;
  }
}
