
<nz-table #roleListTable
          [nzData]="roles"
          [nzSize]="'middle'"
          [nzTitle]="headerTemplate"
          [nzLoading]="isLoading"
          [nzScroll]="false"
          [nzBordered]="true"
          [nzFrontPagination]="'false'"
          [nzTotal]="total"
          [nzPageIndex]="pageIndex"
          [nzPageSize]="pageSize"
          (nzPageIndexChange)="pageChanged($event)"
>
  <thead>
  <tr>
    <th width="10%" [nzShowCheckbox]="'true'" [nzChecked]="isAllChecked()" (nzCheckedChange)="allCheck($event)"></th>
    <th width="80%" nzCustomFilter>
      名称
      <nz-dropdown nzTrigger="click" [nzClickHide]="false">
        <i nz-icon type="filter" theme="outline" [ngStyle]="nameFilterStyle" class="ant-table-filter-icon" nz-dropdown></i>
        <div class="custom-filter-dropdown">
          <ul nz-menu>
            <li nz-menu-item>
              <input type="text" style="width: 150px;margin-right: 8px;" nz-input placeholder="关键字" [(ngModel)]="searchkey">
            </li>
          </ul>
          <div class="ant-table-filter-dropdown-btns">
            <a class="ant-table-filter-dropdown-link confirm" (click)="refresh()" ><span>确定</span></a>
            <a class="ant-table-filter-dropdown-link clear" (click)="refreshNoSearchKey()" ><span>重置</span></a>
          </div>
        </div>
      </nz-dropdown>
    </th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of roleListTable.data">
    <td width="10%" [nzShowCheckbox]="'true'" [(nzChecked)]="data.checked"></td>
    <td width="80%">{{data.name}}</td>
    <td>
      <a *ngIf="showEditBtn" (click)="edit(data.id)">
        编辑
      </a>
      <button nz-button *ngIf="!showEditBtn" nzType="primary" (click)="edit(data.id)" [title]="'查看'">
        查看
      </button>
    </td>
  </tr>
  </tbody>
</nz-table>
<ng-template #headerTemplate>
  <nz-button-group>
    <button nz-button [nzType]="'primary'" *ngIf="showAddBtn" (click)="add()">
      <i nz-icon type="plus-circle" theme="outline"></i>新增
    </button>
    <button nz-button [nzType]="'danger'" *ngIf="showDelBtn" (click)="delete()">
      <i nz-icon type="delete" theme="outline"></i>删除
    </button>
    <button nz-button (click)="refresh()" [title]="'刷新'" >
      <i nz-icon type="reload" theme="outline"></i>刷新
    </button>
  </nz-button-group>

</ng-template>

