<div nz-row>
  <div class="ant-col-6">
    用户权限管理
  </div>
  <div class="ant-col-18">
    <nz-checkbox-group [(ngModel)]="checkOptionsOne"></nz-checkbox-group>
  </div>
  <div class="ant-col-offset-3 ant-col-21">
    <div nz-row>
      <div class="ant-col-6">
        用户管理
      </div>
      <div class="ant-col-18">
        <nz-checkbox-group [(ngModel)]="checkOptionsOne"></nz-checkbox-group>
      </div>
    </div>
  </div>
  <div class="ant-col-offset-3 ant-col-21">
    <div nz-row>
      <div class="ant-col-6">
        角色管理
      </div>
      <div class="ant-col-18">
        <nz-checkbox-group [(ngModel)]="checkOptionsOne"></nz-checkbox-group>
      </div>
    </div>
  </div>

</div>
