<nz-layout>
  <nz-content>
    <nz-card [ngStyle]="formHeight">
      <form nz-form [formGroup]="validateForm" class="role-add-form" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-label [nzRequired]="true" class="ant-col-6">
            <ng-container i18n="@@my-locale-role-name">roleName</ng-container>
          </nz-form-label>
          <nz-form-control class="ant-col-16">
            <input type="text" nz-input formControlName="name">
            <nz-form-explain *ngIf="validateForm.get('name').dirty && validateForm.get('name').errors" i18n="@@my-locale-role-name-required">
              roleNameRequired
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label class="ant-col-6">
            <ng-container i18n="@@my-locale-remark">remark</ng-container>
          </nz-form-label>
          <nz-form-control class="ant-col-16">
            <input type="text" nz-input formControlName="remark">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label class="ant-col-6" i18n="@@my-locale-permission">
            permission
          </nz-form-label>
          <nz-form-control class="ant-col-16">
            <nz-table
              [nzData]="auths"
              [nzSize]="'small'"
              [nzShowPagination]="false"
              [nzBordered]="true"
              [nzScroll]="{x:'700px'}"
            >
              <thead>
              <tr>
                <th nzWidth="150px" i18n="@@my-locale-function-name">functionName</th>
                <th i18n="@@my-locale-operations">operations</th>
                <th nzWidth="100px" i18n="@@my-locale-all">all</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let auth of auths">
                <td>
                  <i nz-icon type="folder-open" theme="outline" *ngIf="auth.level===0"></i>
                  <i nz-icon type="file" style="margin-left: 8px;" theme="outline" *ngIf="auth.level!==0"></i>
                  {{auth.name}}
                </td>
                <td>
                  <label nz-checkbox *ngFor="let op of auth.ops" [(ngModel)]="op.checked" [ngModelOptions]="{standalone: true}" (ngModelChange)="authChanged($event,op.value,op)">{{op.label}}</label>
                </td>
                <td>
                  <label nz-checkbox [nzChecked]="isAllCheckRow(auth.ops)" (nzCheckedChange)="allCheckRow($event,auth.ops)"></label>
                </td>
              </tr>
              </tbody>
            </nz-table>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-card>
  </nz-content>
  <nz-footer class="fixed-footer">
    <button nz-button *ngIf="saveBtn" [nzType]="'primary'" [nzLoading]="isSubmitLoading" (click)="submitForm()" [disabled]="!validateForm.valid">
      <i nz-icon type="save" theme="outline"></i>
      <ng-container i18n="@@my-locale-save">save</ng-container>
    </button>
    <button nz-button type="button" (click)="returnToList($event)">
      <ng-container i18n="@@my-locale-go-back">goBack</ng-container>
    </button>
    <button nz-button (click)="refresh()" [nzLoading]="isLoading||isLoadingAuthList">
      <i nz-icon type="reload" theme="outline"></i>
    </button>
  </nz-footer>
</nz-layout>

