<div class="row">
  <div class="col-xs-12 col-sm-12 offset-sm-12">
    <div class="card">
      <div class="card-block">
        <form class="k-form"  (ngSubmit)="onSubmit()" #roleForm="ngForm">
          <label class="k-form-field">
            <span for="name">角色名<span class="k-required">*</span></span>
            <input id="name" class="k-textbox" placeholder="角色名" required [(ngModel)]="role.name" name="name" />
          </label>
          <label class="k-form-field">
            <span for="name">备注<span class="k-required">*</span></span>
            <input id="remark" class="k-textbox" placeholder="备注" required [(ngModel)]="role.remark" name="remark" />
          </label>
          <div class="k-form-field">
            <span style="font-weight:bolder">拥有权限：</span>
            <kendo-grid [data]="gridData.data" [scrollable]="virtual" [height]="height" #funcGrid >
              <ng-template kendoGridToolbarTemplate>
                <button kendoButton style="float:right" class="k-button"  (click)="refresh()" title="刷新数据">
                  <span style="color:green" class="k-icon k-i-refresh"></span>
                </button>
              </ng-template>

              <kendo-grid-column field="name" title="功能名称" [width]="200">
                <ng-template kendoGridCellTemplate let-dataItem>
                  {{dataItem.name}}({{dataItem.code}})
                </ng-template>
              </kendo-grid-column>

              <kendo-grid-column  title="操作项">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <label *ngFor="let op of dataItem.ops" class="k-form-field" >
                    <input type="checkbox" id="auth-{{op.id}}" name="auth-{{op.id}}" class="k-checkbox" [(ngModel)]="op.checked"  (change)="authChange($event,op.id)">
                    <label class="k-checkbox-label" for="auth-{{op.id}}">{{op.operate.name}}({{op.operate.code}})</label>
                  </label>
                </ng-template>
              </kendo-grid-column>

              <ng-template kendoGridDetailTemplate let-dataItem let-rowIndex="rowIndex">
                <kendo-grid [data]="dataItem.children" [scrollable]="virtual">
                  <kendo-grid-column field="name" title="功能名称" [width]="200">
                    <ng-template kendoGridCellTemplate let-dataItem>
                      {{dataItem.name}}({{dataItem.code}})
                    </ng-template>
                  </kendo-grid-column>
                  <kendo-grid-column  title="操作项">
                    <ng-template kendoGridCellTemplate let-dataItem>
                      <label *ngFor="let op of dataItem.ops" style="margin-right:20px;display: inline-block;">
                        <input type="checkbox" id="{{op.id}}" name="chk{{op.id}}" class="k-checkbox" [(ngModel)]="op.checked" (change)="authChange($event,op.id)" >
                        <label class="k-checkbox-label" for="{{op.id}}">{{op.operate.name}}({{op.operate.code}})</label>
                      </label>
                    </ng-template>
                  </kendo-grid-column>
                </kendo-grid>
              </ng-template>


              <ng-template kendoGridNoRecordsTemplate>
                <div *ngIf="!isLoading">暂时还没有记录 <a href="javascript:;" (click)="refresh()">点击刷新</a>.</div>
                <span  *ngIf="isLoading" class="k-icon k-i-loading" style="font-size: 32px;color:#ff6b58;left:50%;margin-left:-16px;margin-top: 50px;"></span>
              </ng-template>
            </kendo-grid>
          </div>

          <div class="text-left">
            <button class="k-button k-primary" *ngIf="showSaveBtn" [disabled]="!roleForm.form.valid">提交</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
