.bg{
  background-image: url(/assets/image/big-brand-20e87fa0118f006e9c626a2f27ff063e3104f233b2ada34f9033fa1bc68b8b54.png);
  background-repeat: repeat-x;
  height:100%;
  span{
    font-size:40px;
    display: block;
    width:400px;
    height:80px;
    text-align: center;
    position:absolute;
    top:50%;
    margin-top: -40px;
    left:50%;
    margin-left:-200px;
    a{
      font-size: 14px;
      color:#00b3ee;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
