<nz-layout>
  <nz-content>
    <nz-card [ngStyle]="formHeight">
      <form nz-form [formGroup]="validateForm" class="role-add-form" (ngSubmit)="submitForm()">
      <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
        <nz-tab nzTitle="basic" i18n-nzTitle="@@my-locale-basic">
            <nz-form-item>
              <nz-form-label class="ant-col-6">
                <ng-container i18n="@@my-locale-channel">channel</ng-container>
              </nz-form-label>
              <nz-form-control class="{{channelList?'ant-col-16':'ant-col-16 haserror'}}">
                {{channel?.name}}
                <span nz-tooltip *ngIf="!channelList" style="cursor: pointer;" (click)="initChannel()" nzTitle="{{channelListError}}点击重新加载" >
              <i nz-icon type="question-circle" theme="outline" style="color:red" *ngIf="!isLoadingchannel"></i>
              <i nz-icon type="loading" style="color:#1890ff" *ngIf="isLoadingchannel"></i>
            </span>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzRequired]="true" class="ant-col-6">
                <ng-container i18n="@@my-locale-category">category</ng-container>
              </nz-form-label>
              <nz-form-control class="{{categoryList?'ant-col-16':'ant-col-16 haserror'}}">
                <nz-select  formControlName="categoryId" nzPlaceHolder="selectCategory" i18n-nzPlaceHolder="@@my-locale-select-category" >
                  <nz-option nzCustomContent *ngFor="let category of categories" [nzValue]="category.id" [nzLabel]="category.name">
                    <span style="margin-right: 16px;" *ngFor="let space of category.level|numberArray"></span>
                    <i nz-icon type="folder-open" *ngIf="category.level < 1" theme="outline"></i>
                    <i nz-icon type="file" *ngIf="category.level > 0" theme="outline"></i>
                    {{category.name}}
                  </nz-option>
                </nz-select>
                <nz-form-explain *ngIf="validateForm.get('categoryId').dirty && validateForm.get('categoryId').errors?.required" i18n="@@my-locale-category-required">
                  categoryRequired
                </nz-form-explain>
                <span nz-tooltip *ngIf="!categoryList" style="cursor: pointer;" (click)="initCategoryList()" nzTitle="{{categoryListError}}categoryReloadData"  i18n-nzTitle="@@my-locale-category-reload-data" >
              <i nz-icon type="question-circle" theme="outline" style="color:red" *ngIf="!isLoadingCategoryList"></i>
              <i nz-icon type="loading" style="color:#1890ff" *ngIf="isLoadingCategoryList"></i>
            </span>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label class="ant-col-6">
                <ng-container i18n="@@my-locale-is-publish">isPublish</ng-container>
                <i nz-icon nz-tooltip *ngIf="!canAuditing" nzTitle="需要管理员进行审核" type="question-circle" theme="outline"></i>
              </nz-form-label>
              <nz-form-control class="ant-col-16">
                <nz-switch formControlName="status" [nzDisabled]="!canAuditing"></nz-switch>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label class="ant-col-6">
                <ng-container i18n="@@my-locale-property">property</ng-container>
              </nz-form-label>
              <nz-form-control>
                <label nz-checkbox formControlName="isComment">
                  <ng-container i18n="@@my-locale-allow-comment">allowComment</ng-container>
                </label>
                <label nz-checkbox formControlName="isTop">
                  <ng-container i18n="@@my-locale-is-top">isTop</ng-container>
                </label>
                <label nz-checkbox formControlName="isRed">
                  <ng-container i18n="@@my-locale-is-red">isRed</ng-container>
                </label>
                <label nz-checkbox formControlName="isHot">
                  <ng-container i18n="@@my-locale-is-hot">isHot</ng-container>
                </label>
                <label nz-checkbox formControlName="isSlide">
                  <ng-container i18n="@@my-locale-is-slide">isSlide</ng-container>
                </label>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzRequired]="true" class="ant-col-6">
                <ng-container i18n="@@my-locale-title">title</ng-container>
              </nz-form-label>
              <nz-form-control class="ant-col-16">
                <input type="text" nz-input formControlName="title">
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label class="ant-col-6">
                <ng-container i18n="@@my-locale-alias">alias</ng-container>
              </nz-form-label>
              <nz-form-control class="ant-col-16">
                <input type="text" nz-input formControlName="code">
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label class="ant-col-6">
                <ng-container i18n="@@my-locale-cover">cover</ng-container>
              </nz-form-label>
              <nz-form-control class="ant-col-16">
                <div>
                  <nz-upload
                    [nzAction]="uploadPath"
                    [(nzFileList)]="fileList"
                    [nzBeforeUpload]="beforeUpload"
                    (nzChange)="handleChange($event)"
                    [nzCustomRequest]="customReq"
                    [nzListType]="'picture-card'"
                    [nzPreview]="handlePreview"
                  >
                    <i nz-icon type="plus" class="upload-icon" theme="outline"></i>
                    <div class="ant-upload-text">
                      <ng-container i18n="@@my-locale-click-upload">clickUpload</ng-container>
                    </div>
<!--                    <button nz-button>
                      <i nz-icon type="upload" theme="outline"></i><span>点击上传</span>
                    </button>-->
                  </nz-upload>
                  <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible=false">
                    <ng-template #modalContent>
                      <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }" />
                    </ng-template>
                  </nz-modal>
                </div>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label class="ant-col-6">
                <ng-container i18n="@@my-locale-sort">sort</ng-container>
              </nz-form-label>
              <nz-form-control class="ant-col-16">
                <nz-input-number  formControlName="sort" [nzStep]="1"></nz-input-number>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label class="ant-col-6">
                <ng-container i18n="@@my-locale-clicks">clicks</ng-container>
              </nz-form-label>
              <nz-form-control class="ant-col-16">
                <nz-input-number  formControlName="click" [nzStep]="1"></nz-input-number>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label class="ant-col-6">
            <span>
              <ng-container i18n="@@my-locale-pubdate">pubdate</ng-container>
              <i nz-icon nz-tooltip nzTitle="defaultIfNull" i18n-nzTitle="@@my-locale-default-if-null" type="question-circle" theme="outline"></i>
            </span>
              </nz-form-label>
              <nz-form-control class="ant-col-16">
                <nz-date-picker
                  formControlName="publishAt"
                  nzShowTime
                  nzFormat="yyyy-MM-dd HH:mm:ss"
                  i18n-nzPlaceHolder = '@@my-locale-choose-date'
                ></nz-date-picker>
              </nz-form-control>
            </nz-form-item>

        </nz-tab>
        <nz-tab [nzTitle]="'图片相册'" *ngIf="channel?.id === 3">
          <nz-upload
            [nzAction]="uploadPath"
            nzListType="picture-card"
            nzMultiple="true"
            [(nzFileList)]="multipleFileList"
            [nzBeforeUpload]="beforeUpload"
            [nzPreview]="handleMultiPreview"
            (nzChange)="handleMultiChange($event)"
            [nzCustomRequest]="customReq">
            <i nz-icon type="plus"></i>
            <div class="ant-upload-text">点击上传</div>
          </nz-upload>
          <nz-modal [nzVisible]="previewMultiVisible" [nzContent]="modalMultiContent" [nzFooter]="null" (nzOnCancel)="previewMultiVisible=false">
            <ng-template #modalMultiContent>
              <img [src]="previewMultiImage" [ngStyle]="{ 'width': '100%' }" />
              <input type="text">
            </ng-template>
          </nz-modal>
        </nz-tab>
        <nz-tab nzTitle="attachment" i18n-nzTitle="@@my-locale-attachment" *ngIf="channel?.id === 4">

        </nz-tab>
        <nz-tab nzTitle="video" i18n-nzTitle="@@my-locale-video" *ngIf="channel?.id === 2">

        </nz-tab>
        <nz-tab nzTitle="extendedInformation" i18n-nzTitle="@@my-locale-extended-information">
          <nz-form-item>
            <nz-form-label class="ant-col-4" i18n="@@my-locale-summary">
              summary
            </nz-form-label>
            <nz-form-control class="ant-col-18">
              <textarea nz-input formControlName="zhaiyao" nzAutosize rows="3"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label class="ant-col-4" i18n="@@my-locale-content">
              content
            </nz-form-label>
            <div nz-form-control  class="ant-col-18">
              <editor [init]="tinyMceInitOption" formControlName="content" language="zh_CN" ></editor>
            </div>
          </nz-form-item>
        </nz-tab>
      </nz-tabset>
      </form>
    </nz-card>
  </nz-content>
  <nz-footer class="fixed-footer">
    <button nz-button *ngIf="saveBtn" [nzType]="'primary'" [nzLoading]="isLoading" (click)="submitForm()">
      <i nz-icon type="save" theme="outline"></i>
      <ng-container i18n="@@my-locale-save">save</ng-container>
    </button>
    <button nz-button type="button" (click)="returnToList($event)">
      <ng-container i18n="@@my-locale-go-back">goBack</ng-container>
    </button>
  </nz-footer>
</nz-layout>

