<form nz-form [formGroup]="validateForm" class="role-add-form">
  <nz-form-item>
    <nz-form-label [nzRequired]="true" class="ant-col-6">
      原密码
    </nz-form-label>
    <nz-form-control class="ant-col-16">
      <input type="text" nz-input formControlName="old_password">
      <nz-form-explain *ngIf="validateForm.get('old_password').dirty && validateForm.get('old_password').errors">请输入原始密码！</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzRequired]="true" class="ant-col-6">
      新密码
    </nz-form-label>
    <nz-form-control class="ant-col-16" [nzValidateStatus]="validateForm.errors?.identityRevealed && validateForm.dirty ? 'error' : 'success'">
      <input type="text" nz-input formControlName="new_password">
      <nz-form-explain *ngIf="validateForm.get('new_password').dirty && validateForm.get('new_password').errors">请输入新密码！</nz-form-explain>
      <nz-form-explain *ngIf="validateForm.errors?.identityRevealed && validateForm.dirty">两次输入的密码不一致</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzRequired]="true" class="ant-col-6">
      确认新密码
    </nz-form-label>
    <nz-form-control class="ant-col-16" [nzValidateStatus]="validateForm.errors?.identityRevealed && validateForm.dirty ? 'error' : 'success'">
      <input type="text" nz-input formControlName="new_password_compare">
      <nz-form-explain *ngIf="validateForm.get('new_password_compare').dirty && validateForm.get('new_password_compare').errors">请确认新密码！</nz-form-explain>
      <nz-form-explain *ngIf="validateForm.errors?.identityRevealed && validateForm.dirty">两次输入的密码不一致</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
</form>


