<form nz-form [formGroup]="validateForm" class="role-add-form">
  <nz-form-item>
    <nz-form-label [nzRequired]="true" class="ant-col-8">
      <ng-container i18n="@@my-locale-old-password">oldPassword</ng-container>
    </nz-form-label>
    <nz-form-control class="ant-col-16">
      <input type="text" nz-input formControlName="old_password">
      <nz-form-explain *ngIf="validateForm.get('old_password').dirty && validateForm.get('old_password').errors" i18n="@@my-locale-old-password-required">
        oldPasswordRequired
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzRequired]="true" class="ant-col-8">
      <ng-container i18n="@@my-locale-new-password">newPassword</ng-container>
    </nz-form-label>
    <nz-form-control class="ant-col-16">
      <input type="text" nz-input formControlName="new_password">
      <nz-form-explain *ngIf="validateForm.get('new_password').dirty && validateForm.get('new_password').errors" i18n="@@my-locale-new-password-required">
        newPasswordRequired
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzRequired]="true" class="ant-col-8">
      <ng-container i18n="@@my-locale-confirm-password">confirmPassword</ng-container>
    </nz-form-label>
    <nz-form-control class="ant-col-16" [nzValidateStatus]="validateForm.errors?.identityRevealed && validateForm.dirty ? 'error' : 'success'">
      <input type="text" nz-input formControlName="new_password_compare">
      <nz-form-explain *ngIf="validateForm.get('new_password_compare').dirty && validateForm.get('new_password_compare').errors" i18n="@@my-locale-new-password-required">
        newPasswordRequired
      </nz-form-explain>
      <nz-form-explain *ngIf="validateForm.errors?.identityRevealed && validateForm.dirty" i18n="@@my-locale-inconsistent-password">
        inconsistentPassword
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
</form>


