<nz-layout>
  <nz-content>
    <nz-card [ngStyle]="formHeight">
      <form nz-form [formGroup]="validateForm" class="role-add-form" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-label [nzRequired]="true" class="ant-col-6">
            用户名（手机号）
          </nz-form-label>
          <nz-form-control class="ant-col-16">
            <input type="text" nz-input formControlName="mobile">
<!--            <nz-form-explain *ngIf="validateForm.get('mobile').dirty && validateForm.get('mobile').errors?.required">请输入登录用户名！</nz-form-explain>
            <nz-form-explain *ngIf="validateForm.get('mobile').dirty && validateForm.get('mobile').errors?.errorPhone">手机号格式不正确！</nz-form-explain>-->
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label class="ant-col-6">
            昵称
          </nz-form-label>
          <nz-form-control class="ant-col-16">
            <input type="text" nz-input formControlName="realname">
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzRequired]="true" class="ant-col-6">
            密码
          </nz-form-label>
          <nz-form-control class="ant-col-16">
            <a (click)="showChangePasswordModal()">修改密码</a>
<!--            <input type="password" nz-input formControlName="password">
            <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors">请输入密码！</nz-form-explain>-->
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label class="ant-col-6">
            年龄
          </nz-form-label>
          <nz-form-control class="ant-col-16">
            <nz-input-number  formControlName="age" [nzMin]="1" [nzMax]="100" [nzStep]="1"></nz-input-number>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label class="ant-col-6">
            设置头像
          </nz-form-label>
          <nz-form-control class="ant-col-16">
            <div nz-row>
              <nz-avatar [nzSrc]="user.avatar ? (serverPath + user.avatar) : ''" style="width: 64px;height:64px;font-size: 48px;line-height: 48px;" [nzIcon]="'user'">
              </nz-avatar>
              <nz-tabset [nzSelectedIndex]="avaTabSelectedIndex">
                <nz-tab [nzTitle]="'从本地上传'">
                  <div>
                    <nz-upload
                      [nzAction]="uploadPath"
                      [nzShowUploadList]="false"
                      [nzBeforeUpload]="beforeUpload"
                      [nzCustomRequest]="customReq"
                      (nzChange)="handleChange($event)"
                    >
                      <button nz-button type="button">
                        <i nz-icon type="upload" theme="outline"></i><span>点击上传</span>
                      </button>
                    </nz-upload>
                  </div>
                </nz-tab>
                <nz-tab [nzTitle]="ava.name" *ngFor="let ava of avatars">
                  <div nz-row>
                    <div nz-col  [nzXs]="12" [nzSm]="6" [nzLg]="3" [nzMd]="6" style="margin:8px 0px" *ngFor="let path of ava.imgs">
                      <nz-avatar style="cursor: pointer;" [nzSrc]="serverPath + path" [nzSize]="'large'" (click)="setSysAvatar(path)"></nz-avatar>
                    </div>
                  </div>
                </nz-tab>

              </nz-tabset>`
            </div>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-card>
  </nz-content>
  <nz-footer class="fixed-footer">
    <button nz-button [nzType]="'primary'" [nzLoading]="isSubmitLoading" (click)="submitForm()" [disabled]="!validateForm.valid">
      <i nz-icon type="save" theme="outline"></i>
      提交保存
    </button>
    <button nz-button type="button" (click)="returnToList($event)">返回上一页</button>
    <button nz-button (click)="refresh()" [nzLoading]="isLoading">
      <i nz-icon type="reload" theme="outline"></i>
    </button>
  </nz-footer>
</nz-layout>

