nz-card{
  border-bottom: none;
}
::ng-deep .ant-card-head{
  background-color: #fafafa;
}
button{
  margin-right: 8px;
}
.ant-card{
  overflow-y: scroll;
}
:host ::ng-deep .ant-avatar .anticon-user {
  font-size:36px !important;
}
