<nz-layout>
  <nz-content>
    <nz-card [ngStyle]="formHeight">
      <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
        <nz-tab  nzTitle="basicInfoOfWebsite" i18n-nzTitle="@@my-locale-basic-info-of-website">
          Content of Tab Pane
        </nz-tab>
        <nz-tab  nzTitle="elasticsearch" i18n-nzTitle="@@my-locale-elasticsearch" *ngIf="showElasticTab">
          <button nz-button class="login-form-button" [nzType]="'primary'" *ngIf="showElasticTab" (click)="createAllElastic()" i18n="@@my-locale-rebuild-all-elastic">rebuildAllElastic</button>
        </nz-tab>
      </nz-tabset>
    </nz-card>
  </nz-content>
</nz-layout>


