#header{
  background: #fff;
  box-shadow: 0 2px 8px #f0f1f2;
  position: relative;
  z-index: 10;
  max-width: 100%;
}
#logo{
  overflow: hidden;
  padding-left: 40px;
  float: left;
  height: 64px;
  line-height: 64px;
  text-decoration: none;
  white-space: nowrap;
  img{
    height: 32px;
    margin-right: 16px;
  }
  img+img {
    height: 16px;
    position: relative;
    top: 1px;
  }
}
#menu{
  float:left;
  border-bottom:none;
  li{
    height:64px;
    line-height:64px;
  }
}
@media only screen and (max-width: 1200px){
  #search-box {
    display: none;
  }
}

#search-box {
  float: left;
  height: 22px;
  line-height: 22px;
  padding-left: 16px;
  margin: 22px auto 0;
}
.algolia-search{
  position:relative;
  display: inline-block;
  input{
    font-size: 14px;
    margin-top: -5px;
    width: 200px;
    border: 0;
    box-shadow: none;
    background: 0 0;
  }
  input:focus{
    outline:none;
    box-shadow: none;
  }
}
.header-lang-button{
  float: right;
  margin-top: 20px;
  margin-left: 16px;
}
.small-header{
  height:40px;
  font-size:12px;
}
.container {
  width: 1386px;
  margin: 0 auto;
}
@media screen and (max-width: 1540px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
}
.main-wrapper {
  background: #fff;
  padding: 0px;
  position: relative;
}
h3 {
  color: #fff;
}
#footer {
  clear: both;
  font-size: 14px;
  background-color: #000;
  padding:36px 0px;
  box-shadow: 0 1000px 0 1000px #fff;
  position:relative;
  .container{
    position:relative;
  }
  .footer-links{
    a{
      color:#fff;
      text-underline: none;
      margin: 0 10px;
    }
    a:hover {
      color:#cccccc;
    }
  }
  .footer-copyright{
    font-size:12px;
    color:#cccccc;
    margin:8px 0px 0px 10px;
  }
  .footer-wrap{
    color:#cccccc;
    position:absolute;
    right:0px;
    bottom:0px;
    font-size:12px;
    width:140px;
    cursor: pointer;
    .icon-link{
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    a{
      color:#cccccc;
    }
    a:hover{
      color:#cccccc;
    }
    i{
      font-size:32px;
      margin-bottom: 4px;
    }
  }
}

